.mantine-InputWrapper-root{
    color: white;
    width: 130px;
}

.mantine-Button-inner{
    background-color: #141414;
}

.mantine-Select-input{
    background-color: #ff922b;
    border: #ff922b;
}

.mantine-Select-dropdown{
    color: white;
}

.mantine-Input-input{
    color: white;
}

input[type="search"]::-webkit-input-placeholder{
    color: white;
}